{% extends "layouts/base.html" %}

{% block title %} {{ current_user.username }} Profile {% endblock %}

{% block content %}
<div class="row mt-3">
        <div class="col-12 col-xl-4">
        <div class="row">
            <div class="col-12 mb-4">
                <div class="card shadow border-0 text-center p-0">
                    <div class="profile-cover rounded-top"></div>
                    <div class="card-body pb-5">
                        <img src="{{ config.ASSETS_ROOT }}/images/default/profile.jpeg" class="avatar-xl rounded-circle mx-auto mt-n7 mb-4">
                        <h5 class="fw-normal">
                            {{ current_user.username | capitalize }}
                        </h5>
                        <p class="text-gray mb-4">
                            {{ current_user.email }}
                        </p>
                        <a class="btn btn-sm btn-gray-800 d-inline-flex align-items-center me-2" href="mailto:{{current_user.email}}">
                            <svg class="icon icon-xs me-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M8 9a3 3 0 100-6 3 3 0 000 6zM8 11a6 6 0 016 6H2a6 6 0 016-6zM16 7a1 1 0 10-2 0v1h-1a1 1 0 100 2h1v1a1 1 0 102 0v-1h1a1 1 0 100-2h-1V7z"></path></svg>
                            Contact
                        </a>
                    </div>
                    </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-xl-8">
        <div class="card card-body border-0 shadow mb-4">
            <h2 class="h5 mb-4">Account</h2>
            <form>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div>
                            <label for="first_name">First Name</label>
                            {% if current_user.firstname %}
                            <input class="form-control" id="first_name" value="{{ current_user.firstname }}">
                            {% else %}
                            <input class="form-control" id="first_name" placeholder="Enter your first name">
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div>
                            <label for="last_name">Last Name</label>
                            {% if current_user.last_name %}
                            <input class="form-control" id="last_name" value="{{ current_user.last_name }}">
                            {% else %}
                            <input class="form-control" id="last_name" placeholder="Enter your last name">
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input class="form-control" id="email" type="email" placeholder="name@company.com" value="{{ current_user.email }}" readonly>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label for="phone">Phone</label>
                            {% if current_user.phone %}
                            <input class="form-control" id="phone" type="number" value="{{ current_user.phone }}">
                            {% else %}
                            <input class="form-control" id="phone" type="number" placeholder="+250792523579">
                            {% endif %}
                        </div>
                    </div>
                </div>
                <h2 class="h5 my-4">Location</h2>
                <div class="row">
                    <div class="col-sm-9 mb-3">
                        <div class="form-group">
                            <label for="address">Address</label>
                            {% if current_user.address %}
                            <input class="form-control" id="address" value="{{ current_user.address }}">
                            {% else %}
                            <input class="form-control" id="address" placeholder="Enter your home address">
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 mb-3">
                        <div class="form-group">
                            <label for="city">City</label>
                            {% if current_user.city %}
                            <input class="form-control" id="city" value="{{ current_user.city }}">
                            {% else %}
                            <input class="form-control" id="city" placeholder="City">
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-sm-4 mb-3">
                        <label for="state">State</label>
                        {% if current_user.state %}
                        <input class="form-control" id="state" value="{{ current_user.state }}">
                        {% else %}
                        <input class="form-control" id="state" placeholder="State">
                        {% endif %}
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="zip">ZIP</label>
                            {% if current_user.zip_code %}
                            <input class="form-control" id="zip" type="tel" value="{{ current_user.zip_code }}">
                            {% else %}
                            <input class="form-control" id="zip" type="tel" placeholder="Zip">
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="mt-3">
                    <button class="btn btn-gray-800 mt-2 animate-up-2" type="submit">Save all</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}